@tailwind base;
@tailwind components;
@tailwind utilities;

[type='submit']{
	background-color: #1677ff;
 }
 /* [type='button']{
	background-color: #1677ff;
 } */

 :where(.css-dev-only-do-not-override-1m62vyb).ant-btn-primary{
	background-color: #1677ff;
 }
 :where(.css-1m62vyb).ant-btn-primary{
	background-color: #1677ff;
 }

 :where(.css-dev-only-do-not-override-1m62vyb).ant-btn.ant-btn-sm{
	background-color: #1677ff !important;
 }

 .fon{
	background-image: url('/images/fon.webp');
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

